<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aiforpet.pet">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:allowBackup="false"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:largeHeap="true">

        <activity
            android:name=".ac.check.GuideActivity"
            android:exported="false"
            android:theme="@style/TTsdkTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.check.GuideWebActivity"
            android:exported="false"
            android:theme="@style/TTsdkTheme"
            android:screenOrientation="portrait"/>



        <activity
            android:name=".activity.check.EyeCameraActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TTsdkTheme" />

        <activity
            android:name=".activity.check.SkinCameraActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TTsdkTheme" />
        <activity
            android:name=".activity.menu1.PinchSkinActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TTsdkTheme" />
        <activity
            android:name=".activity.check.ReactGuidInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TTsdkTheme" />




        <activity
            android:name=".activity.check.ToothCameraActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TTsdkTheme" />
        <activity
            android:name=".activity.menu1.PinchSkinImageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TTsdkTheme" />


        <activity
            android:name=".activity.check.KneeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TTsdkTheme"/>


    </application>

</manifest>