<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera.any" />


    <application
        android:allowBackup="false"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/TTsdkTheme"
        android:largeHeap="true">

        <activity
            android:name="com.aiforpet.pet.check.EyeCameraActivity"
            android:exported="false" />

        <activity
            android:name="com.aiforpet.pet.check.SkinCameraActivity"
            android:exported="false" />


        <activity
            android:name="com.aiforpet.pet.check.ToothCameraActivity"
            android:exported="false" />


        <activity
            android:name="com.aiforpet.pet.check.PinchSkinImageActivity"
            android:exported="false" />


        <activity
            android:name="com.aiforpet.pet.check.GuideWebActivity"
            android:exported="false" />





    </application>

</manifest>