<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera.any" />
    <!-- 오디오 녹음 권한 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:allowBackup="false"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/TTsdkTheme"
        android:largeHeap="true">

        <activity
            android:name=".check.EyeCameraActivity"
            android:exported="false"
            android:screenOrientation="portrait">


        </activity>

        <activity
            android:name=".check.PinchSkinImageActivity"
            android:exported="false"
            android:screenOrientation="portrait">


        </activity>

        <activity
            android:name=".check.GuideWebActivity"
            android:exported="false">


        </activity>



        <activity
            android:name=".check.SkinCameraActivity"
            android:exported="false"
            android:screenOrientation="portrait">


        </activity>




        <activity
            android:name=".check.ToothCameraActivity"
            android:exported="false"
            android:screenOrientation="portrait">


        </activity>

    </application>

</manifest>